<script src="../assets/main.js" defer></script>  
  <header class="header">
    <nav class="navbar">
        <a href="#" class="nav-logo" routerLink="/">Home</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link" routerLink="/services">Services</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" routerLink="/feedback">feedback</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav> 
  </header>
 <router-outlet></router-outlet> 